AI_BASE_URL=
AUDIO_VIDEO_API_KEY=
DEFAULT_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT=
FRONTEND_ORIGIN=
GPT_OSS_120B_API_KEY=
NVIDIA_API_KEY=
NVIDIA_BASE_URL=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
QWEN_API_KEY=
STEP_FLASH_API_KEY=
VISION_API_KEY=